In [2]:
import pandas as pd
import numpy as np
from math import pi, radians
from matplotlib import pyplot as plt
import tensorflow as tf

In [1]:
def normalize(vec):
    max_val = max(vec)
    min_val = min(vec)
    return (vec - min_val) / (max_val - min_val)

In [12]:
df = pd.read_csv("trace/trace.csv")
df = df.replace(np.inf, np.nan)
df = df.dropna()
df = df.groupby(['Time', 'Fog node', 'Device', 'Long', 'Lat'])['Cost'].mean().reset_index()
df.sort_values(by=['Device', 'Time'])
###########################

###########################
df_time = pd.to_datetime(df['Time'])
h = df_time.dt.hour
m = df_time.dt.minute
s = df_time.dt.second
df['TimeSec'] = s + 60*m + 3600*h
df['TimeMin'] = m + 60*h
###########################

###########################
# fogs_data = pd.read_csv("trace/fogs.csv")
# fogs_data['FogLong'] = fogs_data['Long']
# fogs_data['FogLat'] = fogs_data['Lat']
# fogs_data = fogs_data.drop(columns=['Long', 'Lat'])
# df = df.join(fogs_data.set_index('Fog node'), on='Fog node')
# df['r'] = np.sqrt((np.sin(np.radians(df['Lat'])) - np.sin(np.radians(df['FogLat'])))**2 + (np.cos(np.radians(df['Lat']))*np.cos(np.radians(df['Long'])) - np.cos(np.radians(df['FogLat']))*np.cos(np.radians(df['FogLong'])))**2 + (np.cos(np.radians(df['Lat']))*np.sin(np.radians(df['Long'])) - np.cos(np.radians(df['FogLat']))*np.sin(np.radians(df['FogLong'])))**2)
###########################

###########################
df.to_csv("trace/trace_avg.csv")

,Time,Fog node,Device,Long,Lat,Cost,TimeSec,TimeMin
0,2014-02-01 00:00:19.979934,8.0,260,41.905473,12.467404,35.119605,19,0
1,2014-02-01 00:00:24.285752,7.0,331,41.900416,12.473143,91.813924,24,0
2,2014-02-01 00:00:28.605089,5.0,172,41.874400,12.485700,124.825902,28,0
3,2014-02-01 00:00:35.081246,8.0,260,41.905489,12.468895,44.117762,35,0
4,2014-02-01 00:00:40.630558,7.0,331,41.900416,12.473143,110.382290,40,0
...,...,...,...,...,...,...,...,...
17020,2014-03-02 22:28:53.726640,7.0,29,41.888200,12.481300,22.872783,80933,1348
17021,2014-03-02 22:29:00.934281,7.0,29,41.888200,12.481300,8.376134,80940,1349
17022,2014-03-02 22:29:09.387146,7.0,29,41.888200,12.481300,7.464503,80949,1349
17023,2014-03-02 22:29:14.803807,7.0,29,41.888200,12.481300,11.699897,80954,1349
17024,2014-03-02 22:29:24.373048,7.0,29,41.887800,12.481200,15.381569,80964,1349

In [8]:
df = pd.read_csv("trace/salman.csv")
df = df.replace(np.inf, np.nan)
df = df.dropna()
df = df.groupby(['Time', 'Fog node', 'Device', 'Long', 'Lat'])['Cost'].mean().reset_index()
df = df.sort_values(by=['Device', 'Time'])
###########################

###########################
df_time = pd.to_datetime(df['Time'])
h = df_time.dt.hour
m = df_time.dt.minute
df['TimeMin'] = m + 60*h
###########################

###########################
# fogs_data = pd.read_csv("trace/fogs.csv")
# fogs_data['FogLong'] = fogs_data['Long']
# fogs_data['FogLat'] = fogs_data['Lat']
# fogs_data = fogs_data.drop(columns=['Long', 'Lat'])
# df = df.join(fogs_data.set_index('Fog node'), on='Fog node')
# df['r'] = np.sqrt((np.sin(np.radians(df['Lat'])) - np.sin(np.radians(df['FogLat'])))**2 + (np.cos(np.radians(df['Lat']))*np.cos(np.radians(df['Long'])) - np.cos(np.radians(df['FogLat']))*np.cos(np.radians(df['FogLong'])))**2 + (np.cos(np.radians(df['Lat']))*np.sin(np.radians(df['Long'])) - np.cos(np.radians(df['FogLat']))*np.sin(np.radians(df['FogLong'])))**2)
###########################

###########################
df.to_csv("trace/salman_avg.csv")
# df